#title
{
    background-color:#cad315;
    color: #fff;
}
.nav-item {
    padding: 0 15px;
}
.slider
{
    align-items: center;
}
.row
{
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}
.slider-img
{
    width: 100%;
    position: relative;
    z-index: 2;
}
h1
{
    color: #fff;
}
span
{
    color: black;
}
.download-button
{
    border-radius: 35px;
    padding: 9px 35px;
}
/* .slider .carousel-control-prev {
    background-image: url(../images/right-black-arrow.png);
}
.carousel-control-next {
    right: 0;
} */
.section_about
{
    margin-top: 45px;
    text-align: center;
    background-color: #fff;
    color:black;
}
.layout_padding {
    padding: 75px 0;
}
/* .card
{
    padding-right: 35px;
    padding-left: 35px;
    /* padding: 2px 25px 35px 25px; */
    /* height: 420px;
    box-shadow: -1px 0px 25px 9px rgba(100, 94, 94, 0.286);
    box-sizing: border-box;
} */
.about-container
{
    display:flex;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div{
    display:block;
}
.card a {
        display: inline-block;
        padding: 8px 25px;
        border: 2px solid #FFFFFF;
        color: #C4D70F;
        border-radius: 35px;
        margin-top: 55px;
        text-decoration: none;
}

.card {
    padding: 2px 25px 35px 25px;
    height: 420px;
    box-shadow: -1px 0px 25px 9px rgb(0 0 0 / 9%);
    margin: 45px 20px;
    width: 30%;
    min-width: 300px;
}
.about-detail
 {
    padding: 2px 25px 35px 25px;
    height: 420px;
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 3% 2%;
   /* flex-wrap: wrap;*/
}

.portfolio_section
{
    text-align: center;
    background-color: #fff;
    color:black;   
}

.layout_padding2
{
    padding: 45px 0;
    
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.portfolio_img-box
{
    width: 100;
    height: max-content;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;

}
h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.team_section
{ 
    text-align: center;
    background-color: #fff;
    color:black;
}

.layout_padding {
    padding: 75px 0;
}
.team_card-container {
    display: flex;
    width: 250px 0;
    margin: 35px 0;
    border-bottom: 1px solid #9be604;
    
} 
.team_card img {
    width: 100%;
}    
.team_follow {
    color: #9be604;
}

.team_social {
    display: flex;
    justify-content: space-between;
}

.team_img-box {
    padding: 45px 0;
}

.team_detail-box{
    width: 150px;
    margin: 35px auto 0 auto;
}


.contact_section {
    text-align: center;
    background-color: #fff;
    color:black;
    height: 45px;
}

.layout_padding{
 padding: 75px 0;
}

.contact_section p {
    color: darkgrey;
   font-size: 20px;
   margin-bottom: 0;
}

.contact_section label {
    display: flex;
    flex-direction: column;
    color: #797879;
    margin-bottom: 25px;
}
.contact_form-container{
    text-align: left;
}


.contact_form-container button{
    background-color: #9be604;
    border: #9b9b9b;
    color: white;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
}

.signform
{
    background-color: #dfe1d0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        /* box-sizing: border-box; */
        padding: 0 30px;
}
.sec-sign label{
        display: flex;
        flex-direction: column;
        color: #797879;
       
}
.sec-sign button{
    background-color: #0c0c0c;
    border:#f1f4ed ;
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
}
.clearfix
{
    margin-bottom: 25px;
    margin-top: 25px;
}














